* { margin: 0px; padding: 0px; border: 0px;} /* Resets all margins, paddings, borders */
a, a:active, a:hover, a:visited { color: inherit; text-decoration: inherit;} /* Such a time saver */
.clear { width:100%px; height: 60px; float: none; clear:both;} /*Used to offset header */

/* 
 * GENERAL
 */

@font-face {
	font-family: 'Lane';
	src: url('lane.ttf');
}
body {
	min-width: 750px;
	background: #F2F2F2;
}
.container { 
	width: 65%;
	min-width: 740px;
	margin: 0 auto;
	clear: both;
}
h2, h3 {
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #1E7F56;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-color: #F2F2F2;
	font: 36px/40px 'Lane', Arial, sans-serif;
}

/* 
 * HEADER / LOGO
 */

#header {
	position: fixed;
	width: 100%; height: 50px;
	background: #DC4459;
	float: left;
	border-bottom: solid 5px #8E192A;
	z-index: 99999;
}
#logo {
	background: url(logo.png) no-repeat;
	text-indent: -99999px; /* Hides the text off-screen */
	width: 340px; height: 40px;
	margin-top: 5px;
	float: left;

}

/*
 *	NAVIGATION
 */

ul#navigation {
	float: right;
	list-style: none;
}
ul#navigation li {
	float: left;
	height: 50px; display: block;
	padding:0 20px 0 20px;
	line-height: 50px;
	font-family: "Lane"; font-size: 35px; color: #ffffff; text-align: center;
	border-left: 1px solid #8E192A;
	text-transform: uppercase;
}
ul#navigation li:last-child { /* Smart trick to pick up the last list item */
	border-right: 1px solid #8E192A;
}
ul#navigation li:hover {
	background: #8E192A;
}

/* 
 * BOXES
 */

#feed h2 { background: #414C5E;}
#team h2 { background: #F2BC50;}

.box {
	margin-top: 20px;
	float: left;
	position:  relative;
	background: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 10px 20px 1px rgba(10,10,0,.15);
	padding-bottom: 10px;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	min-width:750px;
	width: 100%;
}

.box:hover, ul#members li:hover{
	position: relative;
	-moz-transform: translateY(-5px);
	-moz-transition: all 0.5s;
	-webkit-transform: translateY(-5px);
	-webkit-transition: all 0.5s;
	-ms-transform: translateY(-5px);
	-ms-transition: all 0.5s;
	-o-transform: translateY(-5px);
	-o-transition: all 0.5s;
	transform: translateY(-5px);
	transition: all 0.5s;
}

.box img {
	float: left;
	margin: 10px 30px 0px 30px;
}

.box p {
	color: #565555;
	font-size: 17.5px;
	padding: 10px;
}

/* 
 * MEMBERS
 */

ul#members {
	width: 100%;
	float: left; clear:both;
	list-style: none;
	margin-top: 20px;
}
ul#members li {
	width: 30%;
	margin-right: 4%;
	background: #fff;
	float: left;
}
ul#members li img {
	width: 60%;
	margin: 5% 0 0 21%;
}
ul#members li:first-child { margin-left: 1%;} /* Centers everything */
ul#members li:last-child { margin: 0px;} /*Removes any margins on the last item */
ul#members h3 { background: #0782AC;}
.threebox {
	position: relative;
	margin-top: 20px;
	margin-bottom: 30px;
}
